#feedbackForm {
  text-align: center;
  font-family: Comfortaa;
  border: 3px solid red;
  border-radius: 25px;
  padding: 10px 0px;
  margin: 0% 30%;
}

footer label {
  display: block;
  padding: 2% 0% 2% 0%;
}

footer input[type='text'], input[type='email'], textarea {
  width: 80%;
}

.button {
  background-color: white;
  padding: 2.5%;
  border: 3px solid red;
  border-radius: 25px;
}

.button:hover {
  color: red;
  cursor: pointer;
}

footer h3{
  margin: 2% 0 2% 0;
}

.ratingTitle {
  padding-top: 2%;
}

.title {
  border: 3px solid red;
  border-radius: 25px;
  padding: 10px 0px;
  margin: 0% 15%;
  text-align: center;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: bold;
}

nav {
  margin: 30px 15%;
  text-align: center;
  font-family: Comfortaa;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 25px;
  border: 3px solid red;
  background-color: #fff;
}

nav a:hover {
  color: red;
}

nav a:visited {
  text-decoration: none;
  color: none;
}

.home {
  margin-right: 2%;
}

.projects {
  margin-left: 2%;
}

input {
  font-family: Comfortaa;
}

textarea {
  font-family: Comfortaa;
}

#containerForRecaptcha {
  text-align: center;
}

#recaptcha {
  display: inline-block;
}

.rating {
  width: 198px;
}
